<h1>Kitten</h1>

<h3>name: <%= @kitten.name %></h3>
<p>age: <%= @kitten.age %></p>
<p>cuteness: <%= @kitten.cuteness %></p>
<p>softness: <%= @kitten.softness %></p>
<%= link_to("edit", @kitten, method: :edit) %>